/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * BattleShip implementation : © Alena Laskavaia <laskava@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * battleship.css
 *
 * BattleShip stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (battleship_battleship.tpl), and to HTML elements you create dynamically
    (in battleship.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/
@import url(../../../css/csslayer.css);
/* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/
html, .mode_3d #game_play_area_background {
	/* background-image: url(img/bg.jpg); */
	background-color: #f8f8f8;
}

.board {
	/* background-image: url('img/Water_texture.jpg'); */
	height: 800px;
	width: 700px;
	margin: auto;
	background-image: url(img/tiny_grid.png);
	padding: 26px;
}

.board .caption {
	text-align: right;
	height: 26px;
}

.background-grids {
	position: relative;
}

.background-grids>* {
	display: block;
	vertical-align: top;
	position: absolute;
}

.grid_0 {
	z-index: 20;
}

.grid_1 {
	left: 246px;
	top: 246px;
	z-index: 10;
}

.grid-body {
	position: relative;
	background-color: #c8e5ed;
	width: 286px;
	height: 286px;
}

.grid_1 .grid-body {
	width: 440px;
	height: 440px;
}

.table-cell {
	display: inline-block;
	border-width: 0.5px;
	border-style: solid;
	border-color: black;
	width: 26px;
	height: 26px;
	margin: 0px;
	position: absolute;
	line-height: 26px;
	vertical-align: top;
	text-align: center;
	background-color: transparent;
}

.grid_1 .table-cell {
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.table-cell>* {
	position: absolute;
}

.grid .first-cell {
	pointer-events: none;
}

.grid .cell-letter {
	border-right: 1px solid black;
}

.grid .cell-number {
	border-bottom: 1px solid black;
}

.fleet-wrap {
	right: 0px;
	top: 0px;
}

.fleet .fleetship_name {
	width: 120px;
	padding: 0px 5px 0px 5px;
	text-align: left;
}

.fleet .fleet-row>* {
	display: inline-block;
}

.fleet-slot {
	width: 130px;
	height: 26px;
}

.fleet-slot>* {
	position: absolute;
}

.fleet>* {
	display: block;
	height: 26px;
}

.fleetship {
	/*background: white;
	box-shadow: inset 0px 0px 0px 2px black; */
	height: 26px;
	vertical-align: middle;
	text-align: center;
	width: 130px;
}

.ship {
	height: 26px;
	vertical-align: middle;
	text-align: center;
}

.preship::after {
	content: "?";
}

.used {
	outline-style: solid;
	outline-color: gray;
	outline-width: 1px;
}

.ship.error {
	background-color: red;
}

.ship_v {
	transform: rotate(90deg);
	transform-origin: 13px 13px;
}

.state_2::after {
	content: "~";
}

.state_3 {
	color: red;
	font-weight: bolder;
	font-size: xx-large;
}

.state_7 {
	color: red;
	font-weight: bolder;
	font-size: xx-large;
}

.state_7 .fleetship {
	/* box-shadow: inset 0px 0px 0px 2px black; */
	/* background-color:  red; */
	
}

.selected {
	/* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-webkit-box-shadow: inset 0px 0px 0px 2px blue;
	-moz-box-shadow: inset 0px 0px 0px 2px blue /* Firefox 3.5 - 3.6 */;
	box-shadow: 0px 0px 0px 2px blue;
	box-shadow: inset 0px 0px 0px 2px blue;
}

.state_3::after {
	content: "X";
}

.state_7::after {
	content: "X";
}

.fire_hit {
	background-color: red;
}

.fire_hit.discussion_bubble::after {
	border-color: red transparent; 
}

.discussion_bubble {
	pointer-events: none;
}

.playerTurnPlace .fleet .fleetship.enemy {
	display: none;
}

.fleetship {
/*	background-image: url(img/fleet.png); */
	background-size: 156px;
		/* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-webkit-box-shadow: inset 0px 0px 2px 2px black;
	-moz-box-shadow: inset 0px 0px 2px 2px black /* Firefox 3.5 - 3.6 */;
	box-shadow: 0px 0px 2px 2px black;
	box-shadow: inset 0px 0px 2px 2px black;
	border-radius: 10px;
}

.grid_1 .fleetship {
	background-size: 240px;
	height: 40px;
	line-height: 40px;
}

.grid_1  .ship_v {
	transform: rotate(90deg);
	transform-origin: 20px 20px;
}

.fleetship_1 {
	width: calc(26px * 1);
}

.grid_1 .fleetship_1 {
	width: calc(40px * 1);
}

.fleetship_2 {
	width: calc(26px * 2);
}

.grid_1 .fleetship_2 {
	width: calc(40px * 2);
}

.fleetship_3 {
	width: calc(26px * 3);
}

.grid_1 .fleetship_3 {
	width: calc(40px * 3);
}

.fleetship_4 {
	width: calc(26px * 4);
}

.grid_1 .fleetship_4 {
	width: calc(40px * 4);
}

.fleetship_5 {
	width: calc(26px * 5);
}

.grid_1 .fleetship_5 {
	width: calc(40px * 5);
}

.fleetship_5_1_1, .fleetship_5_1 {
	background-position: 0% 0%;
}

.fleetship_5_1_2 {
	background-position: 20% 0%;
}

.fleetship_5_1_3 {
	background-position: 40% 0%;
}

.fleetship_5_1_4 {
	background-position: 60% 0%;
}

.fleetship_5_1_5 {
	background-position: 80% 0%;
}

.fleetship_4_1_1, .fleetship_4_1 {
	background-position: 0% 11%;
}

.fleetship_4_1_2 {
	background-position: 20% 11%;
}

.fleetship_4_1_3 {
	background-position: 40% 11%;
}

.fleetship_4_1_4 {
	background-position: 60% 11%;
}

.fleetship_3_1_1, .fleetship_3_1 {
	background-position: 0% 22%;
}

.fleetship_3_2_1, .fleetship_3_2 {
	background-position: 100% 22%;
}

.fleetship_3_1_2 {
	background-position: 20% 22%;
}

.fleetship_3_1_3 {
	background-position: 40% 22%;
}

.fleetship_2_1_1, .fleetship_2_1, .fleetship_2_2_1, .fleetship_2_2 {
	background-position: 0% 33%;
}

.fleetship_2_1_2 {
	background-position: 20% 33%;
}

.fleetship_1_1_1, .fleetship_1_1, .fleetship_1_2_1, .fleetship_1_2 {
	background-position: 0% 44%;
}