/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * BattleShip implementation : © Alena Laskavaia <laskava@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * battleship.css
 *
 * BattleShip stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (battleship_battleship.tpl), and to HTML elements you create dynamically
    (in battleship.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/
@import url(../../../css/csslayer.css);
/* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/

html, .mode_3d #game_play_area_background {
	/* background-image: url(img/bg.jpg); */ 
	background-color: #f8f8f8;
}

.board {
	/* background-image: url('img/Water_texture.jpg'); */
	height: 800px;
	width: 700px;
	margin: auto;
	background-image: url(img/tiny_grid.png); 
	padding:  26px;
}

.board caption {
	text-align: right;
	height: 26px;
}

.background-grids {
	position: relative;
}

.background-grids>* {
	display: block;
	vertical-align: top;
	position: absolute;
}

.grid_0 {
	width: 296px;
	height: 322px;
}

.grid_1 {
    left: 254px;
    top: 257px;
    width: 454px;
    height: 480px;
	pointer-events: none;
}

.fleet {
	right: 0px;
	top: 52px;
}

.background-grids td {
	border: 1px solid black;
	vertical-align: middle;
	text-align: center;
}

.gridPlacement {
	height: 100%;
	width: 100%;
	background-color: #c8e5ed;
	/* opacity: 0.3; */
	pointer-events: bounding-box;
	line-height: 26px;
}
.grid_1 .gridPlacement {
	line-height: 40px;
}

.grid td.cell-number .gridPlacement, .grid td.cell-letter .gridPlacement,
	.grid td.first-cell .gridPlacement {
	display: none;
}

.grid td.first-cell {
	border-left: none;
	border-top: none;
	pointer-events: none;
}

.grid_0 td {
	height: 26px;
	width: 26px;
}

.fleet td {
	height: 26px;
	width: 26px;
}

.fleet td:first-child {
	padding: 0px 5px 0px 5px;
}

.fleet td.fleetship_name {
	width: 120px;
	padding: 0px 5px 0px 5px;
	text-align: left;
}

.fleet tr {

}

.fleetship,.ship {	
	background: white;
	/*
    outline-color: black;
    outline-width: 2px;
    outline-style: solid;
    */
    
    box-shadow:inset 0px 0px 0px 2px black;
     
    height: 26px;
    vertical-align: middle;
    text-align: center;
    
}

.fleetship.used {
	background-color: gray;
}

.ship.error {
	background-color: red;
}

.state_2::after {
	content: "-";
}

.state_3 {
	background-color: red;
}

.state_3::after {
		content: "X";
}

.grid_1 td {
	height: 40px;
	width: 40px;
}

.grid td.cell-first-inside-row {
	border-top: 2px solid black;
}

.grid td.cell-first-inside-col {
	border-left: 2px solid black;
}

.grid td.cell-last-inside-row {
	border-bottom: 2px solid black;
}

.grid td.cell-last-inside-col {
	border-right: 2px solid black;
}

